<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">{{msg}}</h1>
        <h2 class="text-center">Home Page (figure out how to put current date here)</h2>
        <p>Current Date and Time: <span id="datetime"></span></p>
        <form action="/">
  Requested Date: <input type="date" name="start">
  <input type="submit">
</form>
         <script>
         var dt = new Date();
         document.getElementById("datetime").innerHTML = dt.toLocaleString();
         </script>
      </div>
      <div class="firstColumn col-6">
        <div class="calendarContainer">
          <h2>Calendar</h2>
          <div class="calendar border border-primary rounded" style="height: 200px">

          </div>
        </div>
        <div class="notesContainer">
          <h2><a href="/note">Notes</h2></a>
          <div class="notes border border-info rounded" style="height:200px">
            <ul id="groceryList" class="list-group">
              {{#each notes}}
              <li data-id="{{this.id}}" class="list-group-item">
            {{this.author}}, {{this.note}}
          </li>
          {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <div class="secondColumn col-3">
        <div class="todoContainer">
          <h2><a href="/task">To Do</h2></a>
          <div class="todo border border-danger rounded" style="height: 450px">
              <ul id="taskList" class="list-group">
              {{#each tasks}}
              <li data-id="{{this.id}}" class="list-group-item">
            {{this.task}}, {{this.urgency}}
          </li>
          {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <div class="thirdColumn col-3">
        <div class="groceryContainer">
          <h2><a href="/grocery">Grocery List</a></h2>
          <div class="grocery border border-warning rounded" style="height: 450px">
            <ul id="groceryList" class="list-group">
              {{#each groceries}}
              <li data-id="{{this.id}}" class="list-group-item">
            {{this.item}}, {{this.category}}, {{this.amount}}
          </li>
          {{/each}}
            </ul>
          </div>
        </div>
      </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
