<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">{{msg}}</h1>
        <h2 class="text-center">Home Page (figure out how to put current date here)</h2>
        <p>Current Date and Time: <span id="datetime"></span></p>
        <form method="GET" action="/">
          Requested Date: <input type="date" name="date" id="dateStamp">
          <input type="submit" id="submitDate">
        </form>
        <script>
          var dt = new Date();
          document.getElementById("datetime").innerHTML = dt.toLocaleString();
        </script>
      </div>
      <div class="firstColumn col-6">
        <div class="calendarContainer">
          <h3 class="text-primary">Calendar</h3>
          <div class="calendar border border-primary rounded" style="height: 200px">
<iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZGFydGgubWF0ZXIxOTc3QGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043" style="border-width:0" width="200" height="150" frameborder="0" scrolling="no"></iframe>          </div>
        </div>
        
        
        
        <div class="notesContainer">
          <h3 class="text-primary">Notes <a class="btn btn-primary" role="button" href="/note">Add New!</h3></a>
          <div class="notes border border-info rounded" style="height:200px">
            <ul id="noteList" class="list-group">
              {{#each notes}}
              <li data-id="{{this.id}}" class="list-group-item">
                        <button id="deleteNote" class="btn btn-danger btn-sm float-right delete">ｘ</button>

                <strong>By: </strong>{{this.author}}
                <br>
                <strong>Note: </strong>{{this.note}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <div class="secondColumn col-3">
        <div class="todoContainer">
          <h3 class="text-primary">To Do <a class="btn btn-primary" role="button" href="/task">Add New!</h3></a>
          <div class="todo border border-danger rounded" style="height: 455px">
              <ul id="taskList" class="list-group">
              {{#each tasks}}
              <li data-id="{{this.id}}" id="taskItem" class="list-group-item">
                <button class="btn btn-danger btn-sm float-right delete deleteTask">ｘ</button>
                <strong>Task: </strong>{{this.task}}
                <strong>Urgency: </strong>{{this.urgency}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <div class="thirdColumn col-3">
        <div class="groceryContainer">
          <h3 class="text-primary">Grocery List <a class="btn btn-primary" role="button" href="/grocery">Add New!</h3></a>
          <div class="grocery border border-warning rounded" style="height: 455px">
            <ul id="groceryList" class="list-group">
              {{#each groceries}}
              <li class="list-group-item" id="groceryItem" data-id="{{this.id}}">
                <button class="btn btn-danger btn-sm float-right delete deleteGrocery">ｘ</button>
                <strong>Item: </strong>{{this.item}}
                <br>
                <strong>Amount: </strong>{{this.amount}}
                <br>
                <strong>Category: </strong>{{this.category}}
              </li>
              {{/each}}
            </ul>
          </div>

        </div>
      </div>


      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/js/index.js"></script>
