<div id="home">
  <div class="row">
    <div class="col-12">
      <h1 id="title" class="text-center text-primary">EZ-Genda</h1>
        <hr>
      <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleString();
      </script>
    </div>
    
    <div class="firstColumn col-5">
      <div class="calendarContainer">
        <h3 class="text-primary">Calendar</h3>
        <form method="GET" action="/">
          Requested Date: <input type="date" name="date" id="dateStamp">
          <input type="submit" id="submitDate" class="btn btn-primary">
        </form>

        <div class="calendar">
          <iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZGFydGgubWF0ZXIxOTc3QGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043" style="border-width:0" width="600" height="450" frameborder="0" scrolling="no">
          </iframe>          
        </div>
      </div>  
    </div>

    <div class="secondColumn col-3">
      <div class="notesContainer">
        <h3 class="text-primary">Notes <a class="btn btn-primary" role="button" href="/note">Add New!</h3></a>
        <div class="notes border border-info rounded" style="height: 485px">
          <ul id="noteList" class="list-group">
            {{#each notes}}
            <li data-id="{{this.id}}" class="list-group-item" id="noteItem">
              <button id="deleteNote" class="btn btn-danger btn-sm float-right deleteNote">ｘ</button>
              <strong>By: </strong>{{this.author}}
              <br>
              <strong>Note: </strong>{{this.note}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="thirdColumn col-2">
      <div class="todoContainer">
        <h3 class="text-primary">To Do <a class="btn btn-primary" role="button" href="/task">Add New!</h3></a>
        <div class="todo border border-danger rounded" style="height: 485px">
          <ul id="taskList" class="list-group">
            {{#each tasks}}
            <li data-id="{{this.id}}" id="taskItem" class="list-group-item">
              <button class="btn btn-danger btn-sm float-right delete deleteTask">ｘ</button>
              <strong>Task: </strong>{{this.task}}
              <strong>Urgency: </strong>{{this.urgency}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="fourthColumn col-2">
      <div class="groceryContainer">
        <h3 class="text-primary">Grocery <a class="btn btn-primary" role="button" href="/grocery">Add New!</h3></a>
        <div class="grocery border border-warning rounded" style="height: 485px">
          <ul id="groceryList" class="list-group">
            {{#each groceries}}
            <li class="list-group-item" id="groceryItem" data-id="{{this.id}}">
              <button class="btn btn-danger btn-sm float-right delete deleteGrocery">ｘ</button>
              <strong>Item: </strong>{{this.item}}
              <br>
              <strong>Amount: </strong>{{this.amount}}
              <br>
              <strong>Category: </strong>{{this.category}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
